@charset "UTF-8"; 
    body{
        padding-top: 5px;
        display: flex; 
        align-items: center;
        background-color: azure;
        flex-direction: column;
        border-color: rgb(112, 112, 202);
        border-radius: 20%;  
        background-image: url(gif1.gif);
        
    }
    .img{
        margin: 30px;
        border-style: solid;
        border-radius: 20%;
        padding: 10px;
        box-shadow: 1px 1px 1px;
        background-color: aquamarine;
        
    }
    main{
        width: 500px;
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-radius: 20px;
        flex-direction: column;
        border-style: solid;
        background-color: rgba(0, 0, 0, 0.336);
    }
    
    section{
        display: flex;
        background-color: rgba(110, 109, 109, 0.562);
    }
    article{
        width: 500px;
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-radius: 20px;
        flex-direction: column;
        padding-right: 5px; 
    }
    #cabeçalho{
        padding-top: 5px;
        height: 10px;
        justify-content: space-between;
    }
    .corações{
        padding-left: 2px;
        padding-right: 2px;
    }
    p{
        background-color: rgb(184, 224, 210);
        color: rgb(61, 56, 50);
        font-size: larger;
        font-family: serif;
        margin-top: 10px;
        padding: 5px;
        box-shadow: 2px 2px 2px;
        border-radius: 10%;
    }
    #pontos{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        height: 2px;
    }
    #principal{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        align-items: center;
    }
    
    #ação{
        height: 160px;
    }
    #botoes{
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        justify-content: space-between;
    }
    .botões{
        margin: 3px;   
    }
    input{
        background-color: aqua;
        border-radius: 50%;
        width: 30px ;
        height: 30px;
        box-shadow: 2px 1px 1px;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        background-color: bisque;
        padding: 5px;
        box-shadow: 2px 2px 2px;
        border-style: solid;
        align-items: center;
        text-align: center;
    }
    div{
        display: flex;
        justify-content: space-around;
    }
    .input{
        margin: 5px;
        width: 50px;
        border-radius: 2%;
        background-color: antiquewhite;
        border: solid;
        border-style: groove;
    }
     #próx{
         border-radius: 50%;
         height: 30px;
         width: 50px;
     }
     .personagem{
         height: 20px;
     }
     button{
         border-radius: 50%;
         height: 30px;
         width: 50px;
     }
     #seleção{
        background-color: rgba(117, 145, 135, 0.616);
        color: rgb(61, 56, 50);
        font-size: larger;
        font-family: serif;
        margin-top: 10px;
        padding: 5px;
        box-shadow: 3px 3px 3px;
        border-radius: 10%;
         width: 500px;
         justify-content: space-between;
     }
     .pontos{
         flex-direction: column;
         background-color: rgba(62, 87, 83, 0);
         
     }
     .pontos1{
         background-color: rgba(255, 255, 255, 0); 
         margin: 1px;
         padding: 0px;
         box-shadow: none;
     }
     .reforço{
         width: 35px; 
         height: 35px;
         margin: 2px;
        }
    #resp{
        margin-bottom: 1px;
    }

    #win{
        width: 250px;
        height: 250px;
        margin: 130px;
        background-color: rgba(245, 245, 245, 0.247);
    }
